<%= form_with model: [@post, @explanation], class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      収支説明の編集
    </h1>
    <div class="edit-notice">
      ( 編集しない → <%= link_to "収支詳細ページ", post_path(@post) %>へ )
    </div>
  </div>

  <%= render 'shared/error_messages', model: f.object %>
  <%= render 'shared/explanation_form', f: f %>

  <div class='form-btn'>
  <%= f.submit "更新" ,class:"btn" %>
  </div>
</div>
<% end %>
