<div class="users-show">
  <div class="user-show">

    <div class="user-info-top">
      <div class="user-info-top__left">
        <div class="user-info-icon">
          <span class="material-symbols-outlined">account_circle</span>
        </div>
      </div>
      <div class="user-info-top__right">
        <div class="user-info-top__right-top">
          <div class="user-info-top__right-top__left">
            <div class="user-info-top__right-top__flex">
              <div class="user-info-nickname">
                <%= @user.nickname %>
              </div>
              <% if current_user&.id == @user.id %>
              <div class="user-info-edit-account">
                <%= link_to "アカウント情報を編集", "#" %>
              </div>
              <% end %>
            </div>
          </div>
          <div class="user-info-top__right-top__right">
            <% if current_user&.id != @user.id %>
              <% if current_user&.following?(@user) %>
              <div class="user-info-following">
                <%= link_to "フォロー中", user_follows_path(@user), method: :delete %>
              </div>
              <% else %>
              <div class="user-info-follow">
                <%= link_to "フォローする", user_follows_path(@user), method: :post %>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="user-info-top__right-middle">
          <div class="user-info-statements number">
            <%= link_to posts_user_path(@user) do %>
            投稿 <span><%= @user.posts.length %></span>件
            <% end %>
          </div>
          <div class="user-info-follower number">
            <%= link_to followers_user_path(@user) do %>
            フォロワー <span><%= @user.followers.length %></span>人
            <% end %>
          </div>
          <div class="user-info-followee number">
            <%= link_to followees_user_path(@user) do %>
            フォロー中 <span><%= @user.followees.length %></span>人
            <% end %>
          </div>
          <div class="user-info-likes number">
            <%= link_to "いいね一覧", likes_user_path(@user) %>
          </div>
        </div>
        <div class="user-info-top__right-bottom">
          <% if current_user&.id == @user.id %>
            <% if @target.present? %>
            <div class="user-info-target">
              貯金目標 :　<span><%= @target.deadline.strftime("%Y年%-m月") %>までに<%= @target.amount.to_s(:delimited) %>円貯める！</span>
            </div>
            <% else %>
            <div class="user-info-target target-nil">
              現在、貯金目標額は未設定です。
            </div>
            <% end %>
          <div class="user-info-edit-target">
            <%= link_to "目標金額を設定・編集", targets_path %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="user-info-bottom">
      <div class="user-info-bottom__left">
        <table class="user-info-profile">
          <tr class="user-info-prefecture">
            <td class="td-profile-label">居住地域</td>
            <td class="td-profile">:　<%= @profile.prefecture.name %></td>
          </tr>
          <tr class="user-info-household">
            <td class="td-profile-label">世帯構成</td>
            <td class="td-profile">:　<%= @profile.household.name %></td>
          </tr>
          <tr class="user-info-age">
            <td class="td-profile-label">年齢層</td>
            <td class="td-profile">:　<%= @profile.age.name %></td>
          </tr>
          <tr class="user-info-gender">
            <td class="td-profile-label">性別</td>
            <td class="td-profile">:　<%= @profile.gender.name %></td>
          </tr>
          <tr class="user-info-annual_income">
            <td class="td-profile-label">年収幅</td>
            <td class="td-profile">:　<%= @profile.annual_income.name %></td>
          </tr>
          <% if @profile.monthly_target %>
          <tr class="user-info-monthly_target">
            <td class="td-profile-label">月の貯金目標額</td>
            <td class="td-profile">:　<%= @profile.monthly_target.to_s(:delimited) %>円</td>
          </tr>
          <% end %>
        </table>
        <% if current_user&.id == @user.id %>
        <div class="user-info-edit-profile">
          <%= link_to "プロフィールを編集", edit_profile_path(@profile) %>
        </div>
        <table>
          <tr class="user-info-initial_savings">
            <td class="td-profile-label">登録時の貯金額</td>
            <td class="td-profile">:　<%= @user.initial_savings.to_s(:delimited) %>円</td>
          </tr>
          <tr class="user-info-current_savings">
            <td class="td-profile-label">現在の貯金額</td>
            <td class="td-profile">:　<%= @current_savings.to_s(:delimited) %>円</td>
          </tr>
        </table>
        <% end %>
      </div>
      <div class="user-info-bottom__right">
        <div class="user-info-introduction">
          <% if @introduction&.title1 %>
          <div class="introduction-title title1">
            ★ <%= @introduction&.title1 %>
          </div>
          <% end %>
          <div class="introduction-content content1">
            <% if @introduction&.text1.nil? %>
            <%= @introduction&.text1 %>
            <% else %>
            <%= safe_join(@introduction&.text1.split("\n"),tag(:br)) %>
            <% end %>
          </div>
          <% if @introduction&.title2.present? %>
          <div class="introduction-title title2">
            ★ <%= @introduction&.title2 %>
          </div>
          <% end %>
          <div class="introduction-content content2">
            <% if @introduction&.text2.nil? %>
            <%= @introduction&.text2 %>
            <% else %>
            <%= safe_join(@introduction&.text2.split("\n"),tag(:br)) %>
            <% end %>
          </div>
        </div>
        <% if current_user&.id == @user.id %>
          <% if @introduction.present? %>
          <div class="introduction-present">
            <div class="edit-introduction">
              <%= link_to "自己紹介を編集", edit_introduction_path(@introduction) %>
            </div>
            <div class="destroy-introduction">
              <%= link_to "自己紹介を削除", introduction_path(@introduction), method: :delete %>
            </div>
          </div>
          <% else %>
          <div class="create-introduction">
            <%= link_to "自己紹介を登録", new_introduction_path %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
