<div class="form-group">
  <div class='form-text-wrap'>
    <label class="form-text">年月</label>
  </div>
  <%= f.date_select(
      :month,
      class:'month-select',
      use_month_numbers: true,
      selected: Time.now,
      start_year: (Time.now.year - 1),
      end_year: (Time.now.year + 1),
      discard_day: true
      ) %>
</div>
  <div class="form-group">
  <div class='form-text-wrap'>
    <label class="form-text">手取り収入</label>
  </div>
  <%= f.text_area :net_income %>
</div>
<div class="form-group">
  <div class='form-text-wrap'>
    <label class="form-text">住宅費</label>
  </div>
  <%= f.text_area :housing %>
</div>
<div class="form-group">
  <div class='form-text-wrap'>
    <label class="form-text">水道光熱費</label>
  </div>
  <%= f.text_area :utilities %>
</div>
<div class="form-group">
  <div class='form-text-wrap'>
    <label class="form-text">通信費</label>
  </div>
  <%= f.text_area :internet %>
</div>
<div class="form-group">
  <div class='form-text-wrap'>
    <label class="form-text">食費</label>
  </div>
  <%= f.text_area :groceries %>
</div>
<div class="form-group">
  <div class='form-text-wrap'>
    <label class="form-text">日用品費</label>
  </div>
  <%= f.text_area :daily_necessities %>
</div>
<div class="form-group">
  <div class='form-text-wrap'>
    <label class="form-text">娯楽費</label>
  </div>
  <%= f.text_area :entertainment %>
</div>
<div class="form-group">
  <div class='form-text-wrap'>
    <label class="form-text">その他出費</label>
  </div>
  <%= f.text_area :others %>
</div>
